body {
  min-height: 100vh;
  background-color: #001531;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
}

.container {
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
