<section class="about-us container">
  <div>
    <h2 class="about-us-title">Leading the Way in Cybersecurity Innovation</h2>
    <p class="about-us-txt">
      With decades of expertise and a relentless pursuit of excellence, we
      deliver security solutions designed to protect multinational corporations
      and small businesses alike
    </p>
  </div>
  <div class="about-us-photo-wrap"></div>
  <p class="about-us-txt second-part">
    At Secure Nexus/Guardian Tech, we understand the complexity of cybersecurity
    challenges that businesses face today. Our team of experts is committed to
    providing state-of-the-art solutions tailored to your specific needs,
    ensuring robust protection and peace of mind.
  </p>
  <button type="button" class="about-us-read-more-btn">Read More</button>
</section>
