<section class="contact-us" id="contact-us">
  <div class="contact-us-fist-part">
    <div class="container">
      <h2 class="contact-us-title">
        Explore Our Rich Library of Cybersecurity Resources
      </h2>
      <p class="contact-us-txt">
        Enhance your knowledge with our curated content featuring best
        practices, case studies, and the latest industry insights
      </p>
      <ul class="contact-us-card-list">
        <li class="contact-us-card-item">
          <div class="contact-us-card-photo-wrap"></div>
          <h3 class="contact-us-card-title">E-books</h3>
        </li>
        <li class="contact-us-card-item">
          <div class="contact-us-card-photo-wrap"></div>
          <h3 class="contact-us-card-title">Webinars</h3>
        </li>
        <li class="contact-us-card-item">
          <div class="contact-us-card-photo-wrap"></div>
          <h3 class="contact-us-card-title">Blog Articles</h3>
        </li>
      </ul>
    </div>
  </div>
  <div class="contact-us-second-part container">
    <h2 class="contact-us-connect-title">
      Connect With Our Cybersecurity Experts Today
    </h2>
    <p class="contact-us-connect-txt">
      Ready to protect your business? Get in touch with us to discuss your
      cybersecurity needs and discover how our tailored solutions can bolster
      your defenses
    </p>
    <div class="contact-us-connect-photo-wrap"></div>
    <form class="form">
      <input
        class="form-input name"
        type="text"
        name="name"
        placeholder="Name"
      />
      <input
        class="form-input email"
        type="email"
        name="email"
        placeholder="Email"
      />
      <textarea
        class="form-input textarea"
        name="message"
        cols="30"
        rows="10"
        placeholder="Message"
      ></textarea>
      <button type="submit" class="form-submit-btn">Send Message</button>
    </form>
  </div>
</section>
