<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="./index.html" class="logo">Secure Nexus</a>
      <div class="nav-wrap">
        <button
          type="button"
          class="burger-menu-btn js-open-menu"
          type="button"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="burger-menu-icon" width="53" height="35">
            <use href="./images/icons.svg#icon-burger-menu"></use>
          </svg>
        </button>
        <ul class="list">
          <li>
            <a class="link" href="./index.html">Home</a>
          </li>
          <li>
            <a class="link" href="#about-us">About Us</a>
          </li>
          <li>
            <a class="link" href="#services">Services</a>
          </li>
          <li>
            <a class="link" href="#footer">Resource</a>
          </li>
          <li>
            <a class="link" href="#contact-us">Contact</a>
          </li>
        </ul>
        <button type="button" class="get-protection-btn">
          Get Protection Now
        </button>
      </div>
    </nav>
  </div>
  <section class="hero">
    <div class="container">
      <div class="hero-first-part-wrap">
        <h1 class="hero-title">
          Empowering Your Digital World with Advanced Security Solutions
        </h1>
        <p class="hero-txt">
          Discover unparalleled protection with Secure Nexus, your partners in
          defending against cyber threats and enhancing your operational
          integrity.
        </p>
        <div class="hero-img-wrap">
          <img
            class="hero-img"
            src="./images/hero.webp"
            alt="Hero image"
            width="400"
          />
        </div>
        <div class="hero-btn-wrap">
          <button type="button" class="learn-more-btn">Learn More</button>
          <button type="button" class="get-started-btn">Get Started</button>
        </div>
      </div>
      <ul class="hero-photo-list">
        <li class="hero-photo-item">
          <div class="hero-photo-item-wrap"></div>
          <span class="hero-photo-item-txt"> Comprehensive Security Audit</span>
        </li>
        <li class="hero-photo-item">
          <div class="hero-photo-item-wrap"></div>
          <span class="hero-photo-item-txt">Real-Time Threat Monitoring</span>
        </li>
        <li class="hero-photo-item">
          <div class="hero-photo-item-wrap"></div>
          <span class="hero-photo-item-txt">
            Cutting-Edge Cyber Defense Technologies</span
          >
        </li>
      </ul>
    </div>
    <div class="hero-icon-section">
      <ul class="hero-icon-section-list container">
        <li class="hero-icon-section-item">
          <div class="hero-icon-wrap first">
            <svg class="hero-icon" width="50" height="46">
              <use href="./images/icons.svg#icon-cart"></use>
            </svg>
          </div>
          <div>
            <span class="hero-icon-count">4K+</span>
            <span class="hero-icon-descr">Cyber Security Project</span>
          </div>
        </li>
        <li class="hero-icon-section-item">
          <div class="hero-icon-wrap second">
            <svg class="hero-icon" width="40" height="50">
              <use href="./images/icons.svg#icon-paper-1"></use>
            </svg>
          </div>
          <div>
            <span class="hero-icon-count">100K+</span>
            <span class="hero-icon-descr">Customer Globally</span>
          </div>
        </li>
        <li class="hero-icon-section-item">
          <div class="hero-icon-wrap third">
            <svg class="hero-icon" width="56" height="57">
              <use href="./images/icons.svg#icon-dollar"></use>
            </svg>
          </div>
          <div>
            <span class="hero-icon-count">350+</span>
            <span class="hero-icon-descr">Cyber Security Expert</span>
          </div>
        </li>
        <li class="hero-icon-section-item">
          <div class="hero-icon-wrap fourth">
            <svg class="hero-icon" width="50" height="58">
              <use href="./images/icons.svg#icon-paper-2"></use>
            </svg>
          </div>
          <div>
            <span class="hero-icon-count">100%</span>
            <span class="hero-icon-descr">Client Retention Rate</span>
          </div>
        </li>
      </ul>
    </div>
  </section>
</header>
