<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-close-btn js-close-menu" type="button">
    <svg class="x-close-icon" width="24" height="24">
      <use href="./images/icons.svg#icon-x-close"></use>
    </svg>
  </button>
  <div class="menu-wrap">
    <nav class="nav">
      <ul class="list mobile-menu">
        <li class="item">
          <a class="link js-close-menu" href="./index.html">Home</a>
        </li>
        <li class="item">
          <a class="link js-close-menu" href="#about-us">About Us</a>
        </li>
        <li class="item">
          <a class="link js-close-menu" href="#services">Services</a>
        </li>
        <li class="item">
          <a class="link js-close-menu" href="#footer">Resource</a>
        </li>
        <li class="item">
          <a class="link js-close-menu" href="#contact-us">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
